* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Nunito Sans", "sans-serif";

}


.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/cougargrounds.jpeg); 
    background-position: center;
    background-size: cover;
    position: relative;
    
}


nav
{
  
     width:100%;
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background-color:white;
}


.logo {
    font-size: 2rem;
    font-weight:bold;
    text-decoration:none;
    color: #000000;
}

nav .fa-bars {
    display:none;
}

ul {
    display:flex;
}

li {
    list-style:none;
    margin-right: 2rem;
}

a {
    text-decoration:none;
    color:#2c2c2c;
}

.header ul li {
    background:rgb(244, 239, 236);
    padding: 10px 16px;
    border-radius: 4px;
    
}

.header ul li:hover {
    background:rgb(221, 90, 81);
    transition: 0.2s ease-out;
    color:white;
}



body
{
    background-color:rgb(254, 249, 244);
}


.maintext {
    padding: 50px;
    background-color:rgb(221, 90, 81);
    text-align: center;

}

#h01 {
    font-size: 50px;
}

#p01 {
    font-size: 20px;
}
    



.text
{
    width: 50%;
    justify-content: space-between;
    
    
}





